<h2>
　 <%= link_to 'Add New', new_todo_path %>
　 Todos
</h2>
<ul>
　<% @todos.each do |todo| %>
　<li>
　 <%= link_to todo.body, todo_path(todo) %>
　 <%= link_to 'いいね',
　 todo_likes_path(todo),
　 method: :post %>
　 <%= 'いいねの数:' %>
　 <%= todo.likes %>
　 <%= link_to 'delete',
　   todo_path(todo),
　   method: :delete,
　   data: { confirm: 'Sure?' } %>
　</li>
　<% end %>
</ul>

<a href="/auth/twitter"><button>ログイン</button></a>